# EditorConfig - https://editorconfig.org
# Google Shell Style Guide compliant

root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Shell scripts - Google Style Guide: 2 spaces, no tabs
[*.sh]
indent_style = space
indent_size = 2
max_line_length = 80

# Markdown files
[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# Makefiles require tabs
[Makefile]
indent_style = tab
indent_size = 4

# Git config files
[.git*]
indent_style = tab
indent_size = 4
